  <i>
  {{ article.locale_date }}
  {% if article.author %}
      by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
  {% endif %}
  in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  </i>

  {% if article.tags %}tagged {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last%}, {% endif %}{% endfor %}{% endif %}
  {% if PDF_PROCESSOR %}<p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">Download the .pdf</a></p>{% endif %}
